{% extends 'base.html' %}

{% block body %}
    <div class="content">
        <div class="Login">
            <h1>
                Log in <br>
            </h1>
            <div class="email">
                <p>
                    Email <br>
                </p>

                <box>
                    <input type="text" placeholder="" id="emailinput"> <br>
                </box>
            </div>

            <div class="password">
                <p>
                    Password <br>
                </p>
                <box>
                    <input type="password" placeholder="" id="pwinput"> <br>
                </box>
                <checkbox>
                    <input type="checkbox" onclick="visibleFunction()"> Show password <br>
                </checkbox>
            </div>

            <a href="../auth/forgot.html" class="forgotpassword">
                Forgot password?
            </a>

            <a href="../standard_page/index.html" class="confirm">
                Log in
            </a>

        </div>

        <img src="../static/images/login.jpg" alt="">
        

    </div>
{% endblock %}