{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/login_style.css">
{% endblock %}
{% block body %}
    <div class="content">
        <div class="Login">
            <h1>
                Log in <br>
            </h1>
            <form method="POST">
                <div class="email">
                    <box>
                        Email <br><input type="text" placeholder="" name="email" id="emailinput" required> <br>
                    </box>
                </div>

                <div class="password">
                    <box>
                        Password <br><input type="password" placeholder="" name="password" id="pw" required> <br>
                    </box>
                    <checkbox>
                        <input type="checkbox" onclick="visibleFunction()"> Show password <br>
                    </checkbox>
                </div>

                {% if error %}
                    <br><p style="color: tomato;">{{ error }}</p><br>
                {% endif %}
            </form>
            

            <a href="/forgot" class="forgotpassword">
                Forgot password?
            </a>

            <a href="/" class="confirm">
                Log in
            </a>

            <a href="/register" class="register">
                <br> Don't have an account yet? Register here!
            </a>

        </div>

        <img src="../static/images/login.jpg" alt="">
        

    </div>
{% endblock %}