{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/mypage_style.css">

{% endblock %}
{% block body %}
    <div class="content">
        <h1>
            My page
        </h1>
        
        <p>If you want to make any change, you can make it here</p>

        <form method="POST">
            <name>
                Name <br> <input type="text" placeholder={{user.name}} name="name" id="name"> <br>
            </name>
            <email>
                Email <br> <input type="text" placeholder={{user.email}} name="email" id="email"> <br>
            </email>
            <pw>
                Password <br> <input type="password" placeholder="" name="password" id="pw" minlength="8" maxlength="15"> <br>
                <checkbox>
                    <input type="checkbox" onclick="visibleFunction()">Show password <br>
                </checkbox>
            </pw>

            {% if error %}
                    <br><p style="color: tomato;">{{ error }}</p><br>
            {% endif %}

            <submit>
                <input type="submit" value="Confirm">
            </submit>
        </form>
        
        <a href="/delete/{{user.id}}" class="delete">
            Delete account
        </a>
       
    </div>

{% endblock %}