{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/register_style.css">

{% endblock %}
{% block body %}
    <div class="content">
        <h1>
            Register
        </h1>
        <form method="POST" action="/login">
            <name>
                Name <br> <input type="text" name="name" placeholder="" id="name"> <br>
            </name>
            <email>
                Email <br> <input type="text" name="email" placeholder="" id="email"> <br>
            </email>
            <pw>
                Password <br> <input type="password" name="password" placeholder="" id="pw"> <br>
                <checkbox>
                    <input type="checkbox" onclick="visibleFunction()">Show password <br>
                </checkbox>
            </pw>

            {% if error %}
                    <br><p style="color: tomato;">{{ error }}</p><br>
            {% endif %}
            
            <submit>
                <input type="submit" value="Sign up">
            </submit>

        </form>

    </div>

{% endblock %}