{% extends 'base.html' %}

{% block body %}
    <div class="content">
        <h1>
            Register
        </h1>
        <email>
            Email <br> <input type="text" placeholder="" id="emailinput"> <br>
        </email>
        <name>
            Name <br> <input type="text" placeholder="" id="name"> <br>
        </name>
        <pw>
            Password <br> <input type="password" placeholder="" id="pwinput"> <br>
            <checkbox>
                <input type="checkbox" onclick="visibleFunction()">Show password <br>
            </checkbox>
        </pw>

        <a href="../standard_page/index.html" class="register">Sign up</a>

    </div>

{% endblock %}