{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/register_style.css">

{% endblock %}
{% block body %}
    <div class="content">
        <h1>
            Register
        </h1>
        <form method="POST">
            <name>
                Name <br> <input type="text" name="name" placeholder="" id="name" required> <br>
            </name>
            <email>
                Email <br> <input type="text" name="email" placeholder="" id="email" required> <br>
            </email>
            <pw>
                Password <br> <input type="password" name="password" placeholder="" id="pw" minlength="8" maxlength="15" required> <br>

            </pw>
            <pw_confirmation>
                Password_confirmation <br> <input type="password" name="password_confirmation" placeholder="" id="pw" minlength="8" maxlength="15" required> <br>

            </pw_confirmation>

            {% if error %}
                    <br><p style="color: tomato;">{{ error }}</p><br>
            {% endif %}
            
            <submit>
                <input type="submit" value="Sign up">
            </submit>

        </form>

    </div>

{% endblock %}