{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/book_style.css">
{% endblock %}
{% block body %}
    <div class="content">
        <div class="left">
            <h1>
                Hi name!
            </h1>
            <info>
                <h2>
                    CLASS BOOKING INFO
                </h2>
                <p>
                    {{workshop.teacher}} <br>
                </p>
                <p>
                    {{workshop.name}} <br>
                </p>
                <p>
                    {{workshop.date}} <br>
                </p>
                <p>
                    Address: dancestraße 30-35, 10969 Berlin <br>
                </p>
                <p>
                    Price: {{workshop.price}}€ <br>
                </p>
            </info>

            <form method="POST">
                <payment>
                    <h3>
                        CHOOSE PAYMENT OPTION
                    </h3>
                    <radiobutton>
                        <input type="radio" name="payment" id="card" value="Card">
                        <label for="card">Card</label><br>
                        <input type="radio" name="payment" id="paypal" value="PayPal">
                        <label for="paypal">PayPal</label><br>
                    </radiobutton>
                </payment>
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="" required>
                </div>

                {% if error %}
                    <br><p style="color: tomato; font-weight: 900;">{{ error }}</p><br>
                {% endif %}

                <submit>
                    <input type="submit" value="Confirm">
                </submit>

            </form>

        </div>
        <img src="../static/images/book.jpg" alt="">
    </div>

{% endblock %}