{% extends 'base.html' %}

{% block body %}
    <div class="content">
        <div class="left">
            <h1>
                Hi name!
            </h1>
            <info>
                <h2>
                    CLASS BOOKING INFO
                </h2>
                <p>
                    dancer's name <br>
                </p>
                <p>
                    class name <br>
                </p>
                <p>
                    time <br>
                </p>
                <p>
                    Address: dancestraße 30-35, 10969 Berlin <br>
                </p>
                <p>
                    Price: 14€ <br>
                </p>
            </info>
            <payment>
                <h3>
                    CHOOSE PAYMENT OPTION
                </h3>
                <radiobutton>
                    <input type="radio" name="payment" id="card" value="Card">
                    <label for="card">Card</label><br>
                    <input type="radio" name="payment" id="paypal" value="PayPal">
                    <label for="paypal">PayPal</label><br>
                </radiobutton>
            </payment>
            
            <a href="../booking/bookingComplete.html" class="complete">
                Confirm
            </a>
        </div>
        <img src="../static/images/book.jpg" alt="">
    </div>

{% endblock %}