{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/classinfo_style.css">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="info">
            <h1> {{workshop.name}} </h1>
            <h2> {{workshop.teacher}} </h2>
            <h3> {{workshop.date}} </h3>
            <h4> fixed spots: {{workshop.fixed_spots}}</h4>
            <h5> {{workshop.price}}€</h5>

            <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Quis varius quam <br>quisque id diam vel quam elementum pulvinar. Non curabitur<br> gravida arcu ac tortor dignissim. Amet nisl suscipit <br>adipiscing bibendum est. Vitae nunc sed velit dignissim <br>sodales ut eu. Aliquet sagittis id consectetur purus ut <br>faucibus pulvinar. </p>
        </div>
        <div class="rightside">
            <iframe width="560" height="315" src={{workshop.video_url}}>
            </iframe>
            <br>
            <a href="/book/{{workshop.id}}" class="book">
                Book Now!
            </a>
            <p1>
            <br> * {{workshop.available_spots}}spots left!
            </p1>
        </div>
    </div>

{% endblock %}