{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/styles/classinfo_style.css">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="info">
            <h1>Dancer's name</h1>
            <h2>class name</h2>
            <h3>Time</h3>
            <p>info about this class: <br>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Quis varius quam <br>quisque id diam vel quam elementum pulvinar. Non curabitur<br> gravida arcu ac tortor dignissim. Amet nisl suscipit <br>adipiscing bibendum est. Vitae nunc sed velit dignissim <br>sodales ut eu. Aliquet sagittis id consectetur purus ut <br>faucibus pulvinar. </p>
        </div>
        <div class="rightside">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WnSyWk9sjY0?autoplay=1&mute=1">
            </iframe>
            <br>
            <a href="../booking/book.htm" class="book">
                Book Now!
            </a>
            <p1>
            <br> *number of spots left
            </p1>
        </div>
    </div>

{% endblock %}