{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="../static/styles/schedule_style.css">
{% endblock %}
{% block body %}
    <div class="content">
        <h1>
            Schedule
        </h1>
        <hr class="first">
        <div class="menubar">

            <div class="arrow">
                <img src="../static/images/leftarrow.svg" alt="" class="left">
                <img src="../static/images/rightarrow.svg" alt="" class="right">
            </div>

        </div>

        <hr class="second">

        <h2>
            April 2022 <br>
        </h2>

        <div class="table">

            <table>
                <tr class="date">
                    <th> 22 </th>
                    <th> 23 </th>
                    <th> 24 </th>
                </tr>
                <tr>
                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            5:30 - 6:50 PM <br><br>
                            Monica<br><br>
                            beginner
                        </a>
                    </td>

                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            5:30 - 6:50 PM <br><br>
                            Monica<br><br>
                            beginner
                        </a>
                    </td>

                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            5:30 - 6:50 PM <br><br>
                            Monica<br><br>
                            beginner
                        </a>
                    </td>

                </tr>

                <tr>
                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            7:30 - 8:50 PM <br><br>
                            Honey J<br><br>
                            Advanced
                        </a>
                    </td>

                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            7:30 - 8:50 PM <br><br>
                            Honey J<br><br>
                            Advanced
                        </a>
                    </td>

                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            7:30 - 8:50 PM <br><br>
                            Honey J<br><br>
                            Advanced
                        </a>
                    </td>

                </tr>

                <tr>
                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            9:30 - 10:50 PM <br><br>
                            Aiki<br><br>
                            Master
                        </a>
                    </td>

                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            9:30 - 10:50 PM <br><br>
                            Aiki<br><br>
                            Master
                        </a>
                    </td>

                    <td>
                        <a href="/classinfo" style="display:block; text-decoration: none; color: #ffffff;">
                            9:30 - 10:50 PM <br><br>
                            Aiki<br><br>
                            Master
                        </a>
                    </td>

                </tr>

            </table>

        </div>
    </div>

{% endblock %}