{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="../static/styles/workshops_style.css">
{% endblock %}
{% block body %}
    <div class="content">
        <h1>
            Workshops
        </h1>
        <div class="workshops">
            <!--For loop here-->
            <div class="workshop">
                <a href="/classinfo">
                    <img src="../static/images/workshop.png"> <br>
                    <div class="layer">
                        name <br>
                        teacher <br>
                        level <br>
                        date 
                    </div>
                </a>
            </div>

            <div class="workshop">
                <a href="/classinfo">
                    <img src="../static/images/workshop.png"> <br>
                    <div class="layer">
                        name <br>
                        teacher <br>
                        level <br>
                        date 
                    </div>
                </a>
            </div>

            <div class="workshop">
                <a href="/classinfo">
                    <img src="../static/images/workshop.png"> <br>
                    <div class="layer">
                        name <br>
                        teacher <br>
                        level <br>
                        date 
                    </div>
                </a>
            </div>
            
        </div>

    </div>

{% endblock %}