{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="../static/styles/workshops_style.css">
{% endblock %}
{% block body %}
    <div class="content">
        <h1>
            Workshops
        </h1>
        <div class="workshops">
            <!--For loop here-->
            {% for workshop in workshops %}
                <div class="workshop">
                    <a href="/classinfo/{{workshop.id}}">
                        <img src={{workshop.picture_url}}> <br>
                        <div class="layer">
                            {{workshop.name}} <br>
                            {{workshop.teacher}} <br>
                            {{workshop.date}}
                        </div>
                    </a>
                </div>
            {% endfor %}
            
        </div>

    </div>

{% endblock %}