
body.dark-theme{
    --tertiary-color: white;
}

body.light-theme{
    --tertiary-color: black;
}

.content {
    display: flex;
    flex-direction: row;
}

.aboutus h1{
    font-size: 40px;
    font-weight: 900;
    text-shadow: 2px 0px #A50000, 0px 2px #A50000, 2px 0px #A50000, 0px 2px #A50000;
}

.aboutus {
    position: relative;
    left: 100px;
    color: var(--tertiary-color);
    margin-bottom: 100px;
    margin-top: 30px;
    width: 350px;
    font-size: 15px;

}

.content img{
    height: 500px;
    width: auto;
    margin: 10px;
    position: relative;
    left: 300px;
    top: 100px;
    border-radius: 30px;
}
