
.content {
    display: flex;
    flex-direction: row;
}

.aboutus h1{
    font-size: 40px;
    font-weight: 900;
    text-shadow: 5px 0 #A50000, 0 5px #A50000, 5px 0 #A50000, 0 5px #A50000;
}

.aboutus {
    position: relative;
    left: 100px;
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-top: 30px;
    width: 350px;
    font-size: 15px;

}

.content img{
    height: 500px;
    width: auto;
    margin: 10px;
    position: relative;
    left: 300px;
    top: 100px;
    border-radius: 30px;
}
