
.content {
    display: flex;
    flex-direction: row;
}

.aboutus {
    position: relative;
    left: 100px;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 350px;

}

.content img{
    height: 500px;
    width: auto;
    margin: 10px;
    position: relative;
    left: 300px;
    top: 30px;
}
