
:root{
    --tertiary-color: white;
}

.light-theme{
    --tertiary-color: black;
}

.content {
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 300px 0px;
}

.content br{
    display: block;
    margin: 20px 0px;
}
