
.content {
    display: flex;
    flex-direction: row;
    margin: 100px 30px;
    color: #FFFFFF;
    position: relative;
    left: 100px;
    width: 1000px;
}

.content h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.content h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.content h3, h4, h5{
    font-size: 24px;
    margin-bottom: 10px;
}

.rightside {
    position: relative;
    left: 100px;
}

.rightside iframe{
    margin-bottom: 70px;
}

.book {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 40px;
    margin: 10px 0 30px 0;
    border: 1px solid #FFFFFF;
    padding: 10px 35px;
    cursor: pointer;
    transition: 500ms;
}

.book:hover{
    background: #B60000;
}

.rightside p1{
    position: relative;
    top: 20px;
}
