
body.dark-theme{
    --tertiary-color: white;
}

body.light-theme{
    --tertiary-color: black;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    justify-content: center;
    
}

.content img {
    height: 700px;
    width: auto;
    margin: 100px;
    border-radius: 30px;

}

.intro {
    color: var(--tertiary-color);
    font-size: 30px;
    text-shadow: 2px 0px #A50000, 0px 2px #A50000, 2px 0px #A50000, 0px 2px #A50000;
    margin-top: 30px;
    margin-left: 50px;
    
}
