
.content{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 100px;
    margin-top: 110px;
    margin-bottom: 110px;
}

.content img {
    height: 700px;
    width: auto;
    padding: 50px;
}

.content p {
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    top: 200px;
}
