
:root{
    --tertiary-color: white;
    --secondary-color: #B60000;
}

.light-theme{
    --tertiary-color: black;
    --secondary-color: #FF4444;
}

.content{
    color: var(--tertiary-color);
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    margin: 100px;
    
}

.content h1{
    font-size: 60px;
    font-weight: 900;
    text-shadow: 5px 0px #A50000, 0px 5px #A50000, 5px 0px #A50000, 0px 5px #A50000;
    margin-bottom: 20px;
}

.content input{
    background: #606060;
    font-size: 24px;
    padding: 12px 48px;
    border-radius: 20px;
    border: 0;
    margin: 10px 0;
}

.content submit input{
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 35px;
    border: 1px solid var(--tertiary-color);
    padding: 6px 23px;

    position: relative;
    left: 80px;
    top: 70px;

    cursor: pointer;
    transition: 500ms;
    background: transparent;

}

.content submit input:hover{
    background: var(--secondary-color);
}

.content submit{
    margin: 0 0 30px 0;
}