
.content {
    margin: 70px 100px;
    color: #FFFFFF;
}

.content h1{
    font-size: 60px;
    text-shadow: 5px 0 #A50000, 0 5px #A50000, 5px 0 #A50000, 0 5px #A50000;
}

.menubar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.right {
    position: relative;
    top: 7px;
}

.content h2{
    font-size: 50px;
    font-weight: 900;
    margin-top: 20px;
}

.content table{
    width: 1000px;
    height: auto;
   
    margin: 50px 0;
    position: relative;
    left: 100px;
    
}

.content table th {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 900;
}

.content table td{
    border: 10px solid #000000;
    border-radius: 20px;
    background-color: transparent;
    transition: 700ms;
    
}

.content table td:hover{
    background-color: #A50000;
}

