
:root{
    --primary-color: black;
    --tertiary-color: white;
}

.light-theme{
    --primary-color: white;
    --tertiary-color: black;
}

.content {
    margin: 70px 100px;
    color: var(--tertiary-color);
    justify-content: center;
    
}

.content h1{
    font-size: 60px;
    text-shadow: 5px 0 #A50000, 0 5px #A50000, 5px 0 #A50000, 0 5px #A50000;
    margin: 30px 0 50px 0; 
}

.content nav a{
    text-decoration: none;
    color: var(--tertiary-color);
    text-decoration: underline;
}

.workshops {
    margin: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workshop {
    margin: 20px;
    text-align: center;
}

.workshop img{
    height: 300px;
    width: 500px;
    border-radius: 30px;
}

.workshop:hover{
    transform: translateY(-15px);
    transition: 500ms;
    border: var(--tertiary-color) solid 3px;
    background: var(--tertiary-color);
    border-radius: 30px;
    padding: 5px;
}

.workshop a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 900;
    font-size: 20px;
}



