{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/styles/about_style.css">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="aboutus">
            <h1>
                Why are we here? <br> <br>
            </h1>

            <h2>
                We are providing workshops for all levels from beginner to master <br>
                It's a temporary dance studio only opened from May to August in 2022 <br>
                We will host world-wide famous dancers from outside the country <br>
                Don't miss out on opportunity where you can meet great dancers <br>
                at one place in Berlin! <br>
                You can also make cool dance videos <br>
                while you are in our studio! <br>
                If you have any questions you are welcome to contact us <br>
                Contact info is in the bottom of our website  <br>
            </h2>
        </div>

        <img src="../static/images/about.jpg" alt="about us">

    </div>

{% endblock %}
