{% extends 'base.html' %}

{% block body %}
    <div class="content">
        <div class="aboutus">
            <h1>
                Why are we here? <br> <br>
            </h1>

            <h2>
                We provide classes for all levels from beginner to master <br>
                We want you to enjoy yourself while you are here <br>
                You can also make cool dance videos <br>
                while you are in our studio! <br>
                If you have any questions you are welcome to contact us <br>
                Contact info is in the bottom of our website  <br>
            </h2>
        </div>

        <img src="images/about.jpg" alt="about us">

    </div>

{% endblock %}
