{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/styles/home_style.css">
{% endblock %}

{% block body %}
    <div class="content">
        <img src="../static/images/homeImage.jpg" alt="A dancer in a red dress">
        <p>
            The workshops are special classes that gives you <br>
            the opportunity to learn from choreographers outside of Germany. <br>
            Meet respected choreographers in the dance industry <br>
            from all over the world right here at the Dance studio. <br>
        </p>
    </div>

{% endblock %}
