{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="../static/styles/home_style.css">
{% endblock %}
{% block body %}
    <div class="content">
        <img src="../static/images/homeImage.jpg" alt="A dancer in a red dress">
        <p>
            Everyone wants to dance, <br><br>
            and it doesn't matter if you don't have a great skillset. <br><br>
            Just move your body. That is dancing. <br><br>
            Just Dance as if nobody is watching you. <br><br>
            We will be there to help you. <br><br>
        </p>
    </div>

{% endblock %}
