{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/home_style.css">
{% endblock %}

{% block body %}
    <div class="content">
        <img src="../static/images/homeImage.png" alt="A dancer in a red dress">
        <div class="intro">
            <p>
                The workshops are special classes that give you 
                the opportunity to learn from 
                choreographers outside of Germany. <br> <br>
                Meet respected choreographers in the dance industry 
                from all over the world right here at the Dance studio.
            </p>
        </div>
    </div>

{% endblock %}
