<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta name="viewport" content="with=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title> Welcome to Dance Studio! </title>
            <link rel="stylesheet" href="../static/styles/base_style.css">
            <script type="text/javascript" src="../static/showpw.js"></script>
            <link rel="preconnect" href="https://fonts.googleapis.com"> 
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
            {% block css %}{% endblock %}
        {% endblock %}
    </head>
<body>

    <div class="header">
        <div class="logos">
            <div class="logo">
                <a href="/">Dance Studio <br></a>
            </div>
            <div class="second_logo">
                <br>: a place for everyone 
            </div>
        </div>
        <nav>
            <ul class="header items">
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/schedule">Schedule</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            </ul>
            <div class="login">
                <a href="/login">or LOG IN </a>
            </div>
        </nav>
    </div>

    {% block body %} {% endblock %}

    <footer>
        <div class="location">
            <p>
                LOCATION: <br>
                dancestraße 30-35, 10969 Berlin<br>
                
            </p>
        </div>
        <div class="contact">
            <p>Contact: 0176 80000007</p>
        </div>
        <ul class="socialIcons">
            <li>
                <a href="mailto:jung.lee@code.berlin">
                    <img src="../static/images/mailicon.svg" alt="mail">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                    <img src="../static/images/fbicon.png" alt="facebook">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                    <img src="../static/images/instaicon.png" alt="instagram">
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
                    <img src="../static/images/youtubeicon.png" alt="youtube">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>