<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Welcome to Dance Studio! </title>
        <link rel="stylesheet" href="classInfo_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="logos">
                <div class="logo">
                    <a href="home.html">Dance Studio <br></a>
                </div>
                <div class="second_logo">
                    <br>: a place for everyone 
                </div>
            </div>
            <nav>
                <ul class="header items">
                    <li>
                        <a href="about.htm">About</a>
                    </li>
                    <li>
                        <a href="schedule.htm">Schedule</a>
                    </li>
                    <li>
                        <a href="register.html">Register</a>
                    </li>
                </ul>
                <div class="login">
                    <a href="login.html">or LOG IN </a>
                </div>
            </nav>
        </div>

        <div class="content">
            <div class="info">
                <h1>Dancer's name</h1>
                <h2>class name</h2>
                <h3>Time</h3>
                <p>info about this class: <br>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna aliqua. Quis varius quam <br>quisque id diam vel quam elementum pulvinar. Non curabitur<br> gravida arcu ac tortor dignissim. Amet nisl suscipit <br>adipiscing bibendum est. Vitae nunc sed velit dignissim <br>sodales ut eu. Aliquet sagittis id consectetur purus ut <br>faucibus pulvinar. </p>
            </div>
            <div class="rightside">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WnSyWk9sjY0?autoplay=1&mute=1">
                </iframe>
                <br>
                <a href="book.htm" class="book">
                    Book Now!
                </a>
                <p1>
                   <br> *number of spots left
                </p1>
            </div>
        </div>

       


        <footer>
            <div class="location">
                <p>
                    LOCATION: <br>
                    dancestraße 30-35, 10969 Berlin<br>
                    
                </p>
            </div>
            <div class="contact">
                <p>Contact: 0176 80000007</p>
            </div>
            <ul class="socialIcons">
                <li>
                    <a href="mailto:jung.lee@code.berlin">
                        <img src="images/mailicon.svg" alt="mail">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                        <img src="images/fbicon.png" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <img src="images/instaicon.png" alt="instagram">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
                        <img src="images/youtubeicon.png" alt="youtube">
                    </a>
                </li>
            </ul>
        </footer>
    </body>
</html>